.like-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
    transition: transform 0.2s ease, color 0.2s ease;
    position: absolute;
    top: 1rem;
    right: 1rem; /* Oben rechts auf Card */
}

.like-btn:hover {
    transform: scale(1.2);
}

.liked {
    color: #ff4757;
}
